.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 86%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 7%
    right: 22%
    width: 5rem
  &-3
    animation: float1 1.5s ease-in-out infinite alternate
    position: absolute
    top: 59%
    right: 77%
    width: 5rem
  &-4
    animation: float1 1.8s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 33%
    width: 5rem

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.banner-principal__img 
  padding-top: 0.4rem !important
.banner-principal .tarjeta 
    background-color: #405211        
.banner-interno__fondo
  background-image: url(../assets/curso/portada/fondo-banner-.svg)  !important    
.fnd1
  .banner-interno__fondo
    background-image: url(../assets/curso/portada/fondo-banner.svg)  !important    
.fnd-1
  background-color: #238B7A !important
  &-1
    background-color: #FEC5AA
    border-radius: 2rem
  &-2
    background-color: #56681C    
    h5
      color: #fff
  &-3
    background-color: #FEE1D4
.fnd-2  
  position: relative 
  &::before
    content: ''
    position: absolute
    background-image: url('../assets/curso/temas/tema2/fnd-2.png'), linear-gradient(90deg, #A4D6F8, #eef7fe)
    background-position: center, center
    background-size: 98% 100%, cover
    background-repeat: no-repeat, no-repeat
    border-radius: 25px
    z-index: 0
    right: 12%
    width: 80%
    height: 65%
    padding: 0.5rem
    @media (max-width: 576px) 
      right: 3%
      width: 86%
  h4
    z-index: 3 !important
  img
    position: relative 
    z-index: 1
    margin-right: 0.5rem 
  .tit-2
    position: relative 
    z-index: 2 !important 
    font-size: 1.25rem 
    font-weight: bold 
  &::after
    content: ''
    position: absolute
    z-index: 5
    right: 7rem
    top: 0.7em
    width: 8px
    height: 9px
    border-radius: 5rem
    background-color: #FD6F2F
.fnd-3
  background-color: #FEEFE8
  @media (min-width: 992px) 
    border-right: 0.9rem solid #fff
  &-1
    background-color: #EEF7FE
  &-2
    background-color: #fff
  &-3
    background-color: #DEF0FD    
    border-radius: 1rem
  &-4
    background-color: #F6FAEA
    &.acordion__activo    
        background-color: #EEF7FE     
        .acordion__accion__btn--a 
            background-color: #E1EF97
    .acordion__accion__btn--a 
        background-color: #E1EF97    
  &-5
    background-color: #FEEFE8        
.fnd-4
  background: url('../assets/curso/temas/tema1/fnd-1.png')
  background-position: center
  background-repeat: no-repeat    
  background-size: cover
  border-radius: 0.8rem
  &-1
    background-color: #fff
  .slyder-a__btn--atrs, .slyder-a__btn--sigt 
    background-color: #59B4F1
    background-image: url(../assets/curso/temas/tema1/arrow.svg)
    border: 1px solid #59B4F1
  .slyder-a__bullets__item 
    background-color: #FD6F2F
    border: 1px solid #FD6F2F    
.fnd-5
  padding: 4px
  margin: 1rem
  position: relative
  .fl-box-img
    position: absolute
    top: 50%
    right: -18%
    transform: translateY(-50%)
    width: auto
    height: auto
    padding: 20px
    z-index: 3
    display: block
    @media (max-width: 992px)
      display: none 
  .img-2
    bottom: -30%
    top: 0
    right: 0%
    transform: translateY(-30%)
  .img-3
    top: 50%
    right: 0%
    transform: translateY(-56%)    
  .img-4
    right: 2%
.fnd-6
  position: relative
  background-image: url(../assets/curso/temas/tema1/fnd-1.png)
  background-size: cover
  background-position: center left
  background-repeat: no-repeat    
.fnd-7
  background-color: #FEEFE8
.fnd-8
  background-color: #F6FAEA  
  border-radius: 2rem
.tabs-a.color-acento-botones.fnd-9 .tabs-a__tab__selected
  background-color: #56681C !important
  color: #fff !important
  &:before 
    background-color: #56681C !important
.tabs-a.color-acento-botones.fnd-9 .tabs-a__tab 
  background-color: #AED139 
  &:before 
    background-color: #AED139   
  &:hover 
    background-color: #AED139 
  &:selection  
    background-color: #AED139 
.fnd-9    
  &-1
    background-color: #F6FAEA !important
  &-2
    background-color: #BCE1FA !important    
.tgs
  @media (min-width: 1200px) 
    .tarjeta-avatar-b__img
      min-width: 24% !important     
  @media (min-width: 992px) 
    .tarjeta-avatar-b__img
      min-width: 30% !important
.tg-a
  @media (min-width: 992px) 
    .tarjeta-avatar-b__img
      min-width: 10%
    .tarjeta-avatar-b .tarjeta 
      margin-left: -5%
      padding-left: 6%

.tg-b
  @media (min-width: 992px) 
    .tarjeta-avatar-b .tarjeta 
      height: 11rem 
      display: flex
      align-items: center
.img-72-
  height: 118px
  width: 118px
.img-72
  height: 118px
  width: 118px !important
.tgs
  @media (min-width: 1200px) 
    .tarjeta-avatar-b__img
      min-width: 24% !important  
.img-62
  height: 62px
  width: auto
  margin: auto 
.img-infografica__item, .img-infografica-b__item 
  @media (min-width: 992px) 
    width: 3.5%    
.img-infografica.color-secundario .img-infografica__item__dot:before, .img-infografica.color-secundario .img-infografica__item__dot:after
  background-color: #fff 

.c-1.img-infografica.color-secundario .img-infografica__item__dot:before 
  border: 3px solid #59B4F1   
.c-2.img-infografica.color-secundario .img-infografica__item__dot:before 
  border: 3px solid #FD6F2F 
.c-3.img-infografica.color-secundario .img-infografica__item__dot:before 
  border: 4px solid #238B7A
  
         
  
.t-b
  text-align: right !important
  margin-bottom: 0
  color: #DEF0FD
.tbl
  td,th
    background-color: #fff
    border: 2px solid #56681C !important
  &-c
    td,th
      text-align: center